<p id="notice"><%= notice %></p>

<h1 class="text-center"> Listado de personas</h1> <br>
<div class="container">  
  <table class="table table-hover" >
    <thead>
      <tr>
        <th>Nombre</th>
        <th>CUIT/CUIL</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.name %></td>
          <td><%= person.cuit %></td>
          <td>
          <%= link_to 'Ver', person , :class => "btn btn-default btn-sm" %>
          <%= link_to 'Editar', edit_person_path(person) , :class => "btn btn-default btn-sm" %>
          <%= link_to 'Eliminar', person, method: :delete, data: { confirm: 'Esta seguro?' } , :class => "btn btn-default btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Crear Persona', new_person_path, :class => "btn btn-default" %>
