<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>CUIT/CUIL:</strong>
  <%= @person.cuit %>
</p>

<%= link_to 'Editar', edit_person_path(@person), :class => "btn btn-default" %> |
<%= link_to 'Volver', people_path , :class => "btn btn-default" %>
