<p id="notice"><%= notice %></p>

<h1 class="text-center">Listado de clientes</h1> <br>

<table class="table table-hover" >
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Fecha de nacimiento</th>
      <th>Genero</th>
      <th>Dni</th>
      <th>CUIL/CUIT</th>
      <th>Skype</th>
      <th>Email</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.surname %></td>
        <td><%= client.birthdate %></td>
        <td><%= client.genre %></td>
        <td><%= client.dni %></td>
        <td><%= client.cuil %></td>
        <td><%= client.skype %></td>
        <td><%= client.email %></td>
        <td><%= client.telephone %></td>
        <td><%= client.address %></td>
        <td>
        <%= link_to 'Ver', client, :class => "btn btn-default btn-sm" %>
        <%= link_to 'Editar', edit_client_path(client), :class => "btn btn-default btn-sm" %>
        <%= link_to 'Eliminar', client, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_client_path, :class => "btn btn-default" %>
