<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @client.birthdate %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @client.genre %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>Cuil:</strong>
  <%= @client.cuil %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @client.skype %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong> Edad </strong>
  <%= @client.age %>
</p>

<p>
  <strong> Monto total facturado por a침o </strong>
  <%= @client.billing_per_year.each do |y, m| %>
  <p> <%= "En #{y} factur칩 $#{m}"%> </p>
  <% end %>
</p>

<p>
  <strong> Cantidad de facturas emitidas por mes </strong>
  <%= @client.number_per_month.each do |m, c| %>
  <p> <%= "En el mes #{m} emiti칩 #{c} facturas"%> </p>
  <% end %>
</p>

<p>
  <strong> Las 5 personas a las que mas le factur칩</strong>
  <%= @client.more_invoiced.each do |c, cant| %>
  <p> <%= "#{c}"%> </p>
  <% end %>
</p>


<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
