<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @client.birthdate %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @client.genre %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>CUIL/CUIT:</strong>
  <%= @client.cuil %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @client.skype %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.address %>
</p>

<p>
  <strong> Edad </strong>
  <%= @client.age %>
</p>

<p>
  <strong> Monto total facturado por a침o </strong>
  <ul>
  <% @client.billing_per_year.each do |y, m| %>
  <li><p> <%= "En #{y} factur칩 $#{m}"%> </p></li>
  <% end %>  
  </ul>
</p>

<p>
  <strong> Cantidad de facturas emitidas por mes </strong>
  <ul>
  <% @client.number_per_month.each do |m, c| %>
  <li><p> <%= "En el mes de #{month_names(m)} se emitieron #{c} facturas"%> </p></li>
  <% end %>
  </ul>
</p>

<p>
  <strong> Las 5 personas a las que mas le factur칩 en el a침o  <%= "#{Date.today.year}" %> </strong>
  <ul>
    <% @client.more_invoiced.each do |c, cant| %>
    <li><p> <%= "#{c.name} con CUIL/CUIT: #{c.cuit}" %> </p></li>
    <% end %>
  </ul>
</p>

<br>
<%= link_to 'Editar', edit_client_path(@client), :class => "btn btn-default btn-sm" %> |
<%= link_to 'Volver', clients_path, :class => "btn btn-default btn-sm" %>
