<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @client.birthdate %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @client.genre %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>CUIL/CUIT:</strong>
  <%= @client.cuil %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @client.skype %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @client.telephone %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @client.address %>
</p>

<p>
  <strong> Edad </strong>
  <%= @client.age %>
</p>

<p>
  <strong> Monto total facturado por a침o </strong>
  <% @client.billing_per_year.each do |y, m| %>
  <p> <%= "En #{y} factur칩 $#{m}"%> </p>
  <% end %>
</p>

<p>
  <strong> Cantidad de facturas emitidas por mes </strong>
  <% @client.number_per_month.each do |m, c| %>
  <p> <%= "En el mes #{month_names(m)} emiti칩 #{c} facturas"%> </p>
<%# I18n.l(Time.now, format: "%B") %>
  <% end %>
</p>

<p>
  <strong> Las 5 personas a las que mas le factur칩</strong>
  <% @client.more_invoiced.each do |c, cant| %>
  <p> <%= "#{c}"%> </p>
  <% end %>
</p>


<%= link_to 'Editar', edit_client_path(@client), :class => "btn btn-default btn-sm" %> |
<%= link_to 'Volver', clients_path, :class => "btn btn-default btn-sm" %>
