<p id="notice"><%= notice %></p>

<h1 class="text-center" >Listado de facturas</h1> <br>

<table class="table table-hover" >
  <thead>
    <tr>
      <th>Descripción</th>
      <th>Fecha</th>
      <th>Monto en pesos</th>
      <th>Cliente</th>
      <th>Persona</th>
      <th colspan="3"></thclass="text-center">
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.description %></td>
        <td><%= bill.date %></td>
        <td><%= bill.amount %></td>
        <td><%= link_to bill.client.full_name, bill.client %></td>
        <td><%= link_to bill.person.name, bill.person %></td>
        <td>
          <%= link_to 'Ver', bill, :class => "btn btn-default btn-sm" %>
          <%= link_to 'Editar', edit_bill_path(bill), :class => "btn btn-default btn-sm" %>
          <%= link_to 'Eliminar', bill, method: :delete, data: { confirm: 'Esta seguro?' }, :class => "btn btn-default btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Factura', new_bill_path, :class => "btn btn-default"%>
