<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @bill.description %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @bill.date %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @bill.client.full_name %>
</p>

<p>
  <strong>Persona:</strong>
  <%= @bill.person.name %>
</p>

<%= link_to 'Editar', edit_bill_path(@bill), :class => "btn btn-default" %> |
<%= link_to 'Volver', bills_path, :class => "btn btn-default" %>
